# Build folders
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
*.exe
*.out

# Object files
*.o
*.obj

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# macOS Finder
.AppleDouble
.LSOverride